---
import Container from "./Container.astro"

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">Koučink pro Váš profesní i <span class="text-primary dark:text-white">osobní růst</span></h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300">Koučink již pomohl milionům lidí po celém světě uspět.
                    Jako kouč s akreditací ACC udělený ICF (International Coach Federation) nabízím profesionální přístup,
                    který Vám umožní zkvalitnit myšlení, realizovat Vaše nápady a dosáhnout vysněných cílů pro Váš lepší profesní i osobní život.</p>
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                      href="https://ondrej-hybl.reservio.com/booking/business/service/resource/time?businessId=825a91d9-034e-4312-a706-5aaf5bdbfa51&serviceId=59fa5242-f563-47b8-9ff3-ce1075a570da&resourceId=5ac03e96-9e60-4718-90a4-1d85f275e1d3"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                        >Online rezervace</span
                      >
                    </a>
                    <a
                      href="#info"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                    >
                        <span
                        class="relative text-base font-semibold text-primary dark:text-white"
                        >Dozvědět se víc</span
                      >
                    </a>
                </div>
                <div class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between">
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Úvodní konzultace zdarma</h6>
                        <p class="mt-2 text-gray-500">stačí si udělat rezervaci</p>
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Profesionální přístup</h6>
                        <p class="mt-2 text-gray-500">potvrzený akreditací ACC</p>
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Individuální přístup</h6>
                        <p class="mt-2 text-gray-500">šitý na míru vašim potřebám</p>
                    </div>
                </div>
            </div>
    </Container>
</div>
