---
import Container from "./Container.astro";

---

<div id="info">
  <Container>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-secondary">
      <path fill-rule="evenodd" d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z" clip-rule="evenodd" />
    </svg>
    <div class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
      <div class="md:5/12 lg:w-1/2">
        <img
          src="./images/pie.svg"
          alt="image"
          loading="lazy"
          width=""
          height=""
          class="w-full"
        />
      </div>
      <div class="md:7/12 lg:w-1/2">
        <h2 class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white">
          Jak koučink probíhá?
        </h2>
        <p class="my-2 text-gray-600 dark:text-gray-300">
          Koučování probíhá online v délce 60 - 90 minut.
        </p>
        <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
          <div class="mt-8 flex gap-4 md:items-top">
            <div class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="-3 -2 21 22" class="teaxt-indigo-600 dark:text-indigo-400">
                <path d="M8 3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 3zm8 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zm-13.5.5a.5.5 0 0 0 0-1h-2a.5.5 0 0 0 0 1h2zm11.157-6.157a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm-9.9 2.121a.5.5 0 0 0 .707-.707L3.05 5.343a.5.5 0 1 0-.707.707l1.414 1.414zM8 7a4 4 0 0 0-4 4 .5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5 4 4 0 0 0-4-4z"/>
              </svg>
            </div>
            <div class="w-5/6">
              <h3 class="font-bold text-lg text-indigo-900 dark:text-indigo-300">Jednorázové sezení</h3>
              <p class="text-gray-800 dark:text-gray-100">
                Vhodné pro:
                <ul class="list-inside list-disc space-y-0 text-gray-800 dark:text-gray-100">
                  <li>Řešení problémů a promyšlení si zásadních rozhodnutí</li>
                  <li>zvýšení osobní produktivity práce a posílení sebevědomí</li>
                  <li>definování vize a ujasnění si hlavních životních hodnot</li>
                </ul>
              </p>
            </div> 
          </div> 
          <div class="pt-4 flex gap-4 md:items-center">
            <div class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20">  
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-6 h-6 m-auto text-teal-600 dark:text-teal-400">
                <path fill-rule="evenodd" d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zM9.5 7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm3 0h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zM2 10.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z" clip-rule="evenodd"/>
              </svg>                                      
            </div>
            <div class="w-5/6">
              <h3 class="font-bold text-lg text-teal-900 dark:text-teal-300">Dlouhodobá spolupráce</h3>
              <p class="text-gray-800 dark:text-gray-100">
                <strong>Koučovací série</strong> se většinou skládá z <strong>12 setkání</strong>
                v rozmezí <strong>3 - 6 měsíců</strong> (sezení týdně nebo jednou za 14 dní).
              </p>
            </div> 
          </div> 
        </div>
        <p class="my-8 text-gray-500 dark:text-gray-400">
          Pokud uvažujete o <strong>dlouhodobější práci</strong> na Vašich cílech,
          tak můžete využít <strong>první nezávazné sezení/konzultaci zdarma (30-45min.)</strong>,
          kde se navzájem seznámíme a probereme možnosti spolupráce.
        </p>
      </div>
    </div>
  </Container>
</div>
