---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="testimonials">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        Ohlasy
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Petra Vališková</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Vedoucí úseku sociálních služeb</p>
          </div>
        </div>
        <p class="mt-8">Ondřej vede koučovaného velmi klidně, díky tomu se člověk může otevřít a uvědomit si, že je v bezpečí. V danou chvíli je tady jen pro něj. Jeho pro mě nečekané otázky mě umožnily kouknut se na sebe z jiného úhlu a přivedly mě k lepšímu pochopení sebe sama.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="https://media.licdn.com/dms/image/C4E03AQFKDQfV2Z62rg/profile-displayphoto-shrink_100_100/0/1639338925934?e=1682553600&v=beta&t=rhG2l1BDciMUiNjW9tMIh3GktIMAaLGZgBWHVDRDOs4" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Hana Masopustová</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Lektorka angličtiny</p>
          </div>
        </div>
        <p class="mt-8">S Ondřejem jsem prožila sérii úžasného koučování. Díky jeho profesionálnímu a lidskému přístupu jsem objevila v sobě oblasti, o nichž jsem neměla tušení, že existují. Ondřej dovede při koučování soustředěným nasloucháním vytvořit atmosféru obrovské důvěry a v ní jsem se velice dobře soustředila. Díky tomu jsem jeho otázkami ušitými přímo na témata, jimiž jsem se zabývala, nalézala opravdu jedinečná řešení. A přitom jsem vůbec nevnímala, že on je ten, který váš rozhovor jakkoli řídí. Během našich 12 sezení a díky nim jsem se významně posunula k vytvoření určitého nového řádu ve svém životě a co je ještě důležitější osvojila jsem si know-how potřebné k tomu, abych ze svých snů utvořila nové cile a novou realitu svého života. Nemenší význam pro mě má tato série koučování v tom, že do mého života si nacházejí cestu užitečné automatické reakce, které mění můj život k lepšímu.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Iva Strnadová</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Kulturní referentka / školní asistentka</p>
          </div>
        </div>
        <p class="mt-8">Ondra je sympaťák, který dokáže naslouchat. Je otevřený a měla jsem k němu důvěru . Velmi se mi líbil jeho osobní přístup k tématům, které jsme probírali. Dokázal mě posunout k činnostem a zamyšlením, která by mě samotnou nenapadla.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="https://media.licdn.com/dms/image/C4E03AQG6bPsnsdXefA/profile-displayphoto-shrink_100_100/0/1649257134908?e=1682553600&v=beta&t=XWtxowGZzfqw0adkY_tdY1VnlajT_fq2vMXTwRzSb30" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Vašek Ruml</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Učitel</p>
          </div>
        </div>
        <p class="mt-8">S Ondřejem jsem si zažil za poslední rok a půl „malý“ přerod osobnosti. Potkal jsem ho ve fázi dalšího životního rozhraní, kdy jedna vysněná věc definitivně krachla a začal jsem restart v jiné oblasti… V koučování s ním se vaše mysl zklidní a dokážete sebe plně zasoustředit na téma, které chcete ve své hlavě rozluštit a hlavně si najít vám padnoucí řešení a možnosti, jak z toho ven - jednoduše vaší receptůru. Mně se s Ondřejem nejvíc zadařilo si ještě více rozklíčovat vlastní vizi ve spojeními s mými talenty a uvědomit si, jak pracovat s mými životními rolemi.</p>
      </div>
    </div>
  </Container>
</div>
